mixin attacks
  table.cell#attacks
    tr
      td
        table.items.auto
          tr
            th= 'F'
            th.left= 'Name'
            th.right= 'Mod'
            th.right= 'Atk'
            th.right= 'Mod'
    tr
      th= 'Attacks'